@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Purpose of this site</h2>
    <p>This site is just sample web applicaiton, which is used as sample app for deployment to Azure using GitHub Actions.</p>
</div>
